**TAMILNADU MARGINAL WORKERS ASSESSMENT**

>

**Data Analytics with Cognos - Phase 3**

**Phase 3: Development Part 1**

>
Team Members:


> 1.Yazhini B (613021205062)


> 2.Kavya K (613021205025)


> 3.Dhanusiya R (613021205007)


> 4.Vishalatchi Y (613021205061)


> 5.Kiruthika R (613021205027)

Problem Definition:

Start the data analysis by loading and preprocessing the dataset. Load the dataset using python and data manipulation libraries (e.g., pandas).


Dataset Link:
https://tn.data.gov.in/resource/marginal-workers-classified-age-industrial-category-and-sex-scheduled-caste-2011-tamil

CODE :-

In [26]:
import pandas as pd

In [27]:
file_path='/content/DDW_B06SC_3300_State_TAMIL_NADU-2011.csv'
df = pd.read_csv(file_path)

df.head()

,Table Code,State Code,District Code,Area Name,Total/ Rural/ Urban,Age group,Worked for 3 months or more but less than 6 months - Persons,Worked for 3 months or more but less than 6 months - Males,Worked for 3 months or more but less than 6 months - Females,Worked for less than 3 months - Persons,...,Industrial Category - N to O - Females,Industrial Category - P to Q - Persons,Industrial Category - P to Q - Males,Industrial Category - P to Q - Females,Industrial Category - R to U - HHI - Persons,Industrial Category - R to U - HHI - Males,Industrial Category - R to U - HHI - Females,Industrial Category - R to U - Non HHI - Persons,Industrial Category - R to U - Non HHI - Males,Industrial Category - R to U - Non HHI - Females
0,B0806SC,`33,`000,State - TAMIL NADU,Total,Total,1200828,589003,611825,221386,...,3565,11080,4019,7061,16833,4266,12567,122088,55801,66287
1,B0806SC,`33,`000,State - TAMIL NADU,Total,`5-14,27791,14125,13666,2447,...,11,122,71,51,427,169,258,19305,9774,9531
2,B0806SC,`33,`000,State - TAMIL NADU,Total,15-34,514340,259560,254780,92423,...,1754,7536,2718,4818,8346,2127,6219,68929,32803,36126
3,B0806SC,`33,`000,State - TAMIL NADU,Total,35-59,542581,251957,290624,99202,...,1619,3205,1131,2074,6591,1487,5104,26498,9675,16823
4,B0806SC,`33,`000,State - TAMIL NADU,Total,60+,115103,62833,52270,27165,...,175,211,93,118,1457,483,974,7065,3394,3671

In [28]:
df.tail()

,Table Code,State Code,District Code,Area Name,Total/ Rural/ Urban,Age group,Worked for 3 months or more but less than 6 months - Persons,Worked for 3 months or more but less than 6 months - Males,Worked for 3 months or more but less than 6 months - Females,Worked for less than 3 months - Persons,...,Industrial Category - N to O - Females,Industrial Category - P to Q - Persons,Industrial Category - P to Q - Males,Industrial Category - P to Q - Females,Industrial Category - R to U - HHI - Persons,Industrial Category - R to U - HHI - Males,Industrial Category - R to U - HHI - Females,Industrial Category - R to U - Non HHI - Persons,Industrial Category - R to U - Non HHI - Males,Industrial Category - R to U - Non HHI - Females
589,B0806SC,`33,`633,District - Tiruppur,Urban,`5-14,272,129,143,18,...,0,0,0,0,0,0,0,228,104,124
590,B0806SC,`33,`633,District - Tiruppur,Urban,15-34,3285,1654,1631,473,...,20,44,15,29,62,6,56,675,247,428
591,B0806SC,`33,`633,District - Tiruppur,Urban,35-59,3672,1769,1903,522,...,33,35,12,23,36,9,27,279,103,176
592,B0806SC,`33,`633,District - Tiruppur,Urban,60+,696,399,297,111,...,0,3,0,3,10,3,7,81,35,46
593,B0806SC,`33,`633,District - Tiruppur,Urban,Age not stated,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# Explore the data types of each column
print("Data Types:\n", df.dtypes)

Data Types:
 Table Code                                          object
State Code                                          object
District Code                                       object
Area Name                                           object
Total/ Rural/ Urban                                 object
                                                     ...
Industrial Category - R to U - HHI - Males           int64
Industrial Category - R to U - HHI - Females         int64
Industrial Category - R to U - Non HHI - Persons     int64
Industrial Category - R to U - Non HHI - Males       int64
Industrial Category - R to U - Non HHI - Females     int64
Length: 69, dtype: object

In [6]:
# Check for missing values
print("Missing values:\n", df.isnull().sum())

Missing values:
 Table Code                                          0
State Code                                          0
District Code                                       0
Area Name                                           0
Total/ Rural/ Urban                                 0
                                                   ..
Industrial Category - R to U - HHI - Males          0
Industrial Category - R to U - HHI - Females        0
Industrial Category - R to U - Non HHI - Persons    0
Industrial Category - R to U - Non HHI - Males      0
Industrial Category - R to U - Non HHI - Females    0
Length: 69, dtype: int64

In [7]:
df['Age group'] = df['Age group'].str.replace('`', '')
df['State Code'] = df['State Code'].str.replace('`','')
df['District Code']= df['District Code'].str.replace('`','')
df

,Table Code,State Code,District Code,Area Name,Total/ Rural/ Urban,Age group,Worked for 3 months or more but less than 6 months - Persons,Worked for 3 months or more but less than 6 months - Males,Worked for 3 months or more but less than 6 months - Females,Worked for less than 3 months - Persons,...,Industrial Category - N to O - Females,Industrial Category - P to Q - Persons,Industrial Category - P to Q - Males,Industrial Category - P to Q - Females,Industrial Category - R to U - HHI - Persons,Industrial Category - R to U - HHI - Males,Industrial Category - R to U - HHI - Females,Industrial Category - R to U - Non HHI - Persons,Industrial Category - R to U - Non HHI - Males,Industrial Category - R to U - Non HHI - Females
0,B0806SC,33,000,State - TAMIL NADU,Total,Total,1200828,589003,611825,221386,...,3565,11080,4019,7061,16833,4266,12567,122088,55801,66287
1,B0806SC,33,000,State - TAMIL NADU,Total,5-14,27791,14125,13666,2447,...,11,122,71,51,427,169,258,19305,9774,9531
2,B0806SC,33,000,State - TAMIL NADU,Total,15-34,514340,259560,254780,92423,...,1754,7536,2718,4818,8346,2127,6219,68929,32803,36126
3,B0806SC,33,000,State - TAMIL NADU,Total,35-59,542581,251957,290624,99202,...,1619,3205,1131,2074,6591,1487,5104,26498,9675,16823
4,B0806SC,33,000,State - TAMIL NADU,Total,60+,115103,62833,52270,27165,...,175,211,93,118,1457,483,974,7065,3394,3671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,B0806SC,33,633,District - Tiruppur,Urban,5-14,272,129,143,18,...,0,0,0,0,0,0,0,228,104,124
590,B0806SC,33,633,District - Tiruppur,Urban,15-34,3285,1654,1631,473,...,20,44,15,29,62,6,56,675,247,428
591,B0806SC,33,633,District - Tiruppur,Urban,35-59,3672,1769,1903,522,...,33,35,12,23,36,9,27,279,103,176
592,B0806SC,33,633,District - Tiruppur,Urban,60+,696,399,297,111,...,0,3,0,3,10,3,7,81,35,46
593,B0806SC,33,633,District - Tiruppur,Urban,Age not stated,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
print(df.columns)

Index(['Table Code', 'State Code', 'District Code', 'Area Name',
       'Total/ Rural/ Urban', 'Age group',
       'Worked for 3 months or more but less than 6 months -  Persons',
       'Worked for 3 months or more but less than 6 months - Males',
       'Worked for 3 months or more but less than 6 months - Females',
       'Worked for less than 3 months - Persons',
       'Worked for less than 3 months - Males',
       'Worked for less than 3 months - Females',
       'Industrial Category - A - Cultivators - Persons',
       'Industrial Category - A - Cultivators - Males',
       'Industrial Category - A - Cultivators - Females',
       'Industrial Category - A - Agricultural labourers - Persons',
       'Industrial Category - A - Agricultural labourers - Males',
       'Industrial Category - A - Agricultural labourers - Females',
       'Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons',
       'Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Males',
       'Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Females',
       'Industrial Category - B - Persons', 'Industrial Category - B - Males',
       'Industrial Category - B - Females',
       'Industrial Category - C - HHI - Persons',
       'Industrial Category - C - HHI - Males',
       'Industrial Category - C - HHI - Females',
       'Industrial Category - C - Non HHI - Persons',
       'Industrial Category - C - Non HHI - Males',
       'Industrial Category - C - Non HHI - Females',
       'Industrial Category - D & E - Persons',
       'Industrial Category - D & E - Males',
       'Industrial Category - D & E - Females',
       'Industrial Category - F - Persons', 'Industrial Category - F - Males',
       'Industrial Category - F - Females',
       'Industrial Category - G - HHI - Persons',
       'Industrial Category - G - HHI - Males',
       'Industrial Category - G - HHI - Females',
       'Industrial Category - G - Non HHI - Persons',
       'Industrial Category - G - Non HHI - Males',
       'Industrial Category - G - Non HHI - Females',
       'Industrial Category - H - Persons', 'Industrial Category - H - Males',
       'Industrial Category - H - Females',
       'Industrial Category - I - Persons', 'Industrial Category - I - Males',
       'Industrial Category - I - Females',
       'Industrial Category - J - HHI - Persons',
       'Industrial Category - J - HHI - Males',
       'Industrial Category - J - HHI - Females',
       'Industrial Category - J - Non HHI - Persons',
       'Industrial Category - J - Non HHI - Males',
       'Industrial Category - J - Non HHI - Females',
       'Industrial Category - K to M - Persons',
       'Industrial Category - K to M - Males',
       'Industrial Category - K to M - Females',
       'Industrial Category - N to O - Persons',
       'Industrial Category - N to O - Males',
       'Industrial Category - N to O - Females',
       'Industrial Category - P to Q - Persons',
       'Industrial Category - P to Q - Males',
       'Industrial Category - P to Q - Females',
       'Industrial Category - R to U - HHI - Persons',
       'Industrial Category - R to U - HHI - Males',
       'Industrial Category - R to U - HHI - Females',
       'Industrial Category - R to U - Non HHI - Persons',
       'Industrial Category - R to U - Non HHI - Males',
       'Industrial Category - R to U - Non HHI - Females'],
      dtype='object')

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 69 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   Table Code                                                                                                   594 non-null    object
 1   State Code                                                                                                   594 non-null    object
 2   District Code                                                                                                594 non-null    object
 3   Area Name                                                                                                    594 non-null    object
 4   Total/ Rural/ Urban                                                                                          594 non-null    object
 5   Age group                                                                                                    594 non-null    object
 6   Worked for 3 months or more but less than 6 months -  Persons                                                594 non-null    int64
 7   Worked for 3 months or more but less than 6 months - Males                                                   594 non-null    int64
 8   Worked for 3 months or more but less than 6 months - Females                                                 594 non-null    int64
 9   Worked for less than 3 months - Persons                                                                      594 non-null    int64
 10  Worked for less than 3 months - Males                                                                        594 non-null    int64
 11  Worked for less than 3 months - Females                                                                      594 non-null    int64
 12  Industrial Category - A - Cultivators - Persons                                                              594 non-null    int64
 13  Industrial Category - A - Cultivators - Males                                                                594 non-null    int64
 14  Industrial Category - A - Cultivators - Females                                                              594 non-null    int64
 15  Industrial Category - A - Agricultural labourers - Persons                                                   594 non-null    int64
 16  Industrial Category - A - Agricultural labourers - Males                                                     594 non-null    int64
 17  Industrial Category - A - Agricultural labourers - Females                                                   594 non-null    int64
 18  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons  594 non-null    int64
 19  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Males    594 non-null    int64
 20  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Females  594 non-null    int64
 21  Industrial Category - B - Persons                                                                            594 non-null    int64
 22  Industrial Category - B - Males                                                                              594 non-null    int64
 23  Industrial Category - B - Females                                                                            594 non-null    int64
 24  Industrial Category - C - HHI - Persons                                                                      594 non-null    int64
 25  Industrial Category - C - HHI - Males                                                                        594 non-null    int64
 26  Industrial Category - C - HHI - Females                                                                      594 non-null    int64
 27  Industrial Category - C - Non HHI - Persons                                                                  594 non-null    int64
 28  Industrial Category - C - Non HHI - Males                                                                    594 non-null    int64
 29  Industrial Category - C - Non HHI - Females                                                                  594 non-null    int64
 30  Industrial Category - D & E - Persons                                                                        594 non-null    int64
 31  Industrial Category - D & E - Males                                                                          594 non-null    int64
 32  Industrial Category - D & E - Females                                                                        594 non-null    int64
 33  Industrial Category - F - Persons                                                                            594 non-null    int64
 34  Industrial Category - F - Males                                                                              594 non-null    int64
 35  Industrial Category - F - Females                                                                            594 non-null    int64
 36  Industrial Category - G - HHI - Persons                                                                      594 non-null    int64
 37  Industrial Category - G - HHI - Males                                                                        594 non-null    int64
 38  Industrial Category - G - HHI - Females                                                                      594 non-null    int64
 39  Industrial Category - G - Non HHI - Persons                                                                  594 non-null    int64
 40  Industrial Category - G - Non HHI - Males                                                                    594 non-null    int64
 41  Industrial Category - G - Non HHI - Females                                                                  594 non-null    int64
 42  Industrial Category - H - Persons                                                                            594 non-null    int64
 43  Industrial Category - H - Males                                                                              594 non-null    int64
 44  Industrial Category - H - Females                                                                            594 non-null    int64
 45  Industrial Category - I - Persons                                                                            594 non-null    int64
 46  Industrial Category - I - Males                                                                              594 non-null    int64
 47  Industrial Category - I - Females                                                                            594 non-null    int64
 48  Industrial Category - J - HHI - Persons                                                                      594 non-null    int64
 49  Industrial Category - J - HHI - Males                                                                        594 non-null    int64
 50  Industrial Category - J - HHI - Females                                                                      594 non-null    int64
 51  Industrial Category - J - Non HHI - Persons                                                                  594 non-null    int64
 52  Industrial Category - J - Non HHI - Males                                                                    594 non-null    int64
 53  Industrial Category - J - Non HHI - Females                                                                  594 non-null    int64
 54  Industrial Category - K to M - Persons                                                                       594 non-null    int64
 55  Industrial Category - K to M - Males                                                                         594 non-null    int64
 56  Industrial Category - K to M - Females                                                                       594 non-null    int64
 57  Industrial Category - N to O - Persons                                                                       594 non-null    int64
 58  Industrial Category - N to O - Males                                                                         594 non-null    int64
 59  Industrial Category - N to O - Females                                                                       594 non-null    int64
 60  Industrial Category - P to Q - Persons                                                                       594 non-null    int64
 61  Industrial Category - P to Q - Males                                                                         594 non-null    int64
 62  Industrial Category - P to Q - Females                                                                       594 non-null    int64
 63  Industrial Category - R to U - HHI - Persons                                                                 594 non-null    int64
 64  Industrial Category - R to U - HHI - Males                                                                   594 non-null    int64
 65  Industrial Category - R to U - HHI - Females                                                                 594 non-null    int64
 66  Industrial Category - R to U - Non HHI - Persons                                                             594 non-null    int64
 67  Industrial Category - R to U - Non HHI - Males                                                               594 non-null    int64
 68  Industrial Category - R to U - Non HHI - Females                                                             594 non-null    int64
dtypes: int64(63), object(6)
memory usage: 320.3+ KB
None

In [11]:
df.isnull()

,Table Code,State Code,District Code,Area Name,Total/ Rural/ Urban,Age group,Worked for 3 months or more but less than 6 months - Persons,Worked for 3 months or more but less than 6 months - Males,Worked for 3 months or more but less than 6 months - Females,Worked for less than 3 months - Persons,...,Industrial Category - N to O - Females,Industrial Category - P to Q - Persons,Industrial Category - P to Q - Males,Industrial Category - P to Q - Females,Industrial Category - R to U - HHI - Persons,Industrial Category - R to U - HHI - Males,Industrial Category - R to U - HHI - Females,Industrial Category - R to U - Non HHI - Persons,Industrial Category - R to U - Non HHI - Males,Industrial Category - R to U - Non HHI - Females
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
590,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
591,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
592,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
593,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
# Convert columns to numeric, handling errors as NaN
numeric_columns = ['Industrial Category - A - Cultivators - Persons',
'Industrial Category - A - Cultivators - Males',
 'Industrial Category - A - Cultivators - Females',
'Industrial Category - B - Persons',
 'Industrial Category - B - Males',
'Industrial Category - B - Females',
 'Industrial Category - C - HHI - Males',
 'Industrial Category - C - HHI - Females',
 'Industrial Category - D & E - Males',
 'Industrial Category - D & E - Females',
 'Industrial Category - F - Persons',
 'Industrial Category - F - Males',
 'Industrial Category - F - Females',
 'Industrial Category - G - HHI - Persons',
 'Industrial Category - G - HHI - Males',
 'Industrial Category - G - HHI - Females',
 'Industrial Category - G - Non HHI - Persons',
 'Industrial Category - G - Non HHI - Males',
 'Industrial Category - G - Non HHI - Females',
 'Industrial Category - H - Persons',
 'Industrial Category - H - Males',
 'Industrial Category - H - Females',
 'Industrial Category - I - Persons',
 'Industrial Category - I - Males',
 'Industrial Category - I - Females',
 'Industrial Category - J - HHI - Persons',
 'Industrial Category - J - HHI - Males',
 'Industrial Category - J - HHI - Females',
 'Industrial Category - J - Non HHI - Persons',
 'Industrial Category - J - Non HHI - Males',
 'Industrial Category - J - Non HHI - Females',
 'Industrial Category - K to M - Persons',
 'Industrial Category - K to M - Males',
 'Industrial Category - K to M - Females',
 'Industrial Category - N to O - Persons',
 'Industrial Category - N to O - Males',
 'Industrial Category - N to O - Females',
 'Industrial Category - P to Q - Persons',
 'Industrial Category - P to Q - Males',
'Industrial Category - P to Q - Females',
 'Industrial Category - R to U - HHI - Persons',
 'Industrial Category - R to U - HHI - Males',
 'Industrial Category - R to U - HHI - Females',
 'Industrial Category - R to U - Non HHI - Persons',
 'Industrial Category - R to U - Non HHI - Males',
 'Industrial Category - R to U - Non HHI - Females']
# Convert columns to numeric, handling errors as NaN
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric,
errors='coerce')
# Drop rows with NaN values in numeric columns
df.dropna(subset=numeric_columns, inplace=True)
# Exclude rows where 'Age group' is "Total"
df = df[df['Age group'] != 'Total']
df

,Table Code,State Code,District Code,Area Name,Total/ Rural/ Urban,Age group,Worked for 3 months or more but less than 6 months - Persons,Worked for 3 months or more but less than 6 months - Males,Worked for 3 months or more but less than 6 months - Females,Worked for less than 3 months - Persons,...,Industrial Category - N to O - Females,Industrial Category - P to Q - Persons,Industrial Category - P to Q - Males,Industrial Category - P to Q - Females,Industrial Category - R to U - HHI - Persons,Industrial Category - R to U - HHI - Males,Industrial Category - R to U - HHI - Females,Industrial Category - R to U - Non HHI - Persons,Industrial Category - R to U - Non HHI - Males,Industrial Category - R to U - Non HHI - Females
1,B0806SC,33,000,State - TAMIL NADU,Total,5-14,27791,14125,13666,2447,...,11,122,71,51,427,169,258,19305,9774,9531
2,B0806SC,33,000,State - TAMIL NADU,Total,15-34,514340,259560,254780,92423,...,1754,7536,2718,4818,8346,2127,6219,68929,32803,36126
3,B0806SC,33,000,State - TAMIL NADU,Total,35-59,542581,251957,290624,99202,...,1619,3205,1131,2074,6591,1487,5104,26498,9675,16823
4,B0806SC,33,000,State - TAMIL NADU,Total,60+,115103,62833,52270,27165,...,175,211,93,118,1457,483,974,7065,3394,3671
5,B0806SC,33,000,State - TAMIL NADU,Total,Age not stated,1013,528,485,149,...,6,6,6,0,12,0,12,291,155,136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,B0806SC,33,633,District - Tiruppur,Urban,5-14,272,129,143,18,...,0,0,0,0,0,0,0,228,104,124
590,B0806SC,33,633,District - Tiruppur,Urban,15-34,3285,1654,1631,473,...,20,44,15,29,62,6,56,675,247,428
591,B0806SC,33,633,District - Tiruppur,Urban,35-59,3672,1769,1903,522,...,33,35,12,23,36,9,27,279,103,176
592,B0806SC,33,633,District - Tiruppur,Urban,60+,696,399,297,111,...,0,3,0,3,10,3,7,81,35,46
593,B0806SC,33,633,District - Tiruppur,Urban,Age not stated,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Standardizing Data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numeric_columns = ['Industrial Category - A - Cultivators - Persons',
'Industrial Category - A - Cultivators - Males',
 'Industrial Category - A - Cultivators - Females',
'Industrial Category - B - Persons',
 'Industrial Category - B - Males',
'Industrial Category - B - Females',
 'Industrial Category - C - HHI - Males',
 'Industrial Category - C - HHI - Females',
 'Industrial Category - D & E - Males',
 'Industrial Category - D & E - Females',
 'Industrial Category - F - Persons',
 'Industrial Category - F - Males',
 'Industrial Category - F - Females',
 'Industrial Category - G - HHI - Persons',
 'Industrial Category - G - HHI - Males',
 'Industrial Category - G - HHI - Females',
 'Industrial Category - G - Non HHI - Persons',
 'Industrial Category - G - Non HHI - Males',
'Industrial Category - G - Non HHI - Females',
 'Industrial Category - H - Persons',
 'Industrial Category - H - Males',
 'Industrial Category - H - Females',
 'Industrial Category - I - Persons',
 'Industrial Category - I - Males',
 'Industrial Category - I - Females',
 'Industrial Category - J - HHI - Persons',
 'Industrial Category - J - HHI - Males',
 'Industrial Category - J - HHI - Females',
 'Industrial Category - J - Non HHI - Persons',
 'Industrial Category - J - Non HHI - Males',
 'Industrial Category - J - Non HHI - Females',
 'Industrial Category - K to M - Persons',
 'Industrial Category - K to M - Males',
 'Industrial Category - K to M - Females',
 'Industrial Category - N to O - Persons',
 'Industrial Category - N to O - Males',
 'Industrial Category - N to O - Females',
 'Industrial Category - P to Q - Persons',
 'Industrial Category - P to Q - Males',
 'Industrial Category - P to Q - Females',
 'Industrial Category - R to U - HHI - Persons',
 'Industrial Category - R to U - HHI - Males',
 'Industrial Category - R to U - HHI - Females',
 'Industrial Category - R to U - Non HHI - Persons',
 'Industrial Category - R to U - Non HHI - Males',
 'Industrial Category - R to U - Non HHI - Females']
features = numeric_columns[:] # Use all the industrial categories (starting from the 2nd column)
df[features] = scaler.fit_transform(df[features])
print(df[features])

     Industrial Category - A - Cultivators - Persons  \
1                                           0.485761
2                                           9.929495
3                                          11.899166
4                                           3.022798
5                                          -0.195405
..                                               ...
589                                        -0.209273
590                                        -0.202747
591                                        -0.201523
592                                        -0.209681
593                                        -0.211721

     Industrial Category - A - Cultivators - Males  \
1                                         0.418059
2                                         9.533147
3                                        11.999420
4                                         3.735564
5                                        -0.200810
..                                             ...
589                                      -0.213080
590                                      -0.206178
591                                      -0.200810
592                                      -0.211546
593                                      -0.214614

     Industrial Category - A - Cultivators - Females  \
1                                           0.560698
2                                          10.343213
3                                          11.743692
4                                           2.205154
5                                          -0.188597
..                                               ...
589                                        -0.204225
590                                        -0.198148
591                                        -0.201620
592                                        -0.206830
593                                        -0.207698

     Industrial Category - B - Persons  Industrial Category - B - Males  \
1                            -0.131854                        -0.087247
2                            10.797671                        11.889203
3                            13.255641                        12.192221
4                             1.978999                         2.005024
5                            -0.216288                        -0.217112
..                                 ...                              ...
589                          -0.216288                        -0.217112
590                          -0.197525                        -0.188253
591                          -0.188143                        -0.173824
592                          -0.216288                        -0.217112
593                          -0.216288                        -0.217112

     Industrial Category - B - Females  Industrial Category - C - HHI - Males  \
1                            -0.206668                               0.013148
2                             8.438805                              11.077245
3                            14.658383                              12.569155
4                             1.857923                               3.860898
5                            -0.206668                              -0.201019
..                                 ...                                    ...
589                          -0.206668                              -0.230058
590                          -0.206668                              -0.106640
591                          -0.206668                              -0.110270
592                          -0.206668                              -0.153829
593                          -0.206668                              -0.230058

     Industrial Category - C - HHI - Females  \
1                                   0.009272
2                                  12.400722
3                                  11.361112
4                                   1.973413
5                                  -0.209183
..                                       ...
589                                -0.215034
590                                -0.164322
591                                -0.119460
592                                -0.199431
593                                -0.215034

     Industrial Category - D & E - Males  \
1                              -0.160967
2                              12.364380
3                              12.473454
4                               1.075207
5                              -0.160967
..                                   ...
589                            -0.215504
590                            -0.106430
591                            -0.070072
592                            -0.215504
593                            -0.215504

     Industrial Category - D & E - Females  ...  \
1                                -0.217644  ...
2                                 9.532011  ...
3                                13.675615  ...
4                                 3.072865  ...
5                                -0.217644  ...
..                                     ...  ...
589                              -0.217644  ...
590                              -0.217644  ...
591                               0.087033  ...
592                              -0.217644  ...
593                              -0.217644  ...

     Industrial Category - N to O - Females  \
1                                 -0.130750
2                                 12.666702
3                                 11.675505
4                                  1.073370
5                                 -0.167461
..                                      ...
589                               -0.211515
590                               -0.064671
591                                0.030778
592                               -0.211515
593                               -0.211515

     Industrial Category - P to Q - Persons  \
1                                  0.071170
2                                 16.324329
3                                  6.829801
4                                  0.266278
5                                 -0.183128
..                                      ...
589                               -0.196282
590                               -0.099824
591                               -0.119554
592                               -0.189705
593                               -0.196282

     Industrial Category - P to Q - Males  \
1                                0.233466
2                               16.275317
3                                6.657479
4                                0.366794
5                               -0.160460
..                                    ...
589                             -0.196822
590                             -0.105916
591                             -0.124097
592                             -0.196822
593                             -0.196822

     Industrial Category - P to Q - Females  \
1                                 -0.020777
2                                 16.326817
3                                  6.916748
4                                  0.208988
5                                 -0.195672
..                                      ...
589                               -0.195672
590                               -0.096222
591                               -0.116798
592                               -0.185384
593                               -0.195672

     Industrial Category - R to U - HHI - Persons  \
1                                        0.475216
2                                       13.408373
3                                       10.542141
4                                        2.157392
5                                       -0.202554
..                                            ...
589                                     -0.222152
590                                     -0.120895
591                                     -0.163358
592                                     -0.205820
593                                     -0.222152

     Industrial Category - R to U - HHI - Males  \
1                                      0.877131
2                                     13.643489
3                                      9.470624
4                                      2.924443
5                                     -0.224766
..                                          ...
589                                   -0.224766
590                                   -0.185645
591                                   -0.166085
592                                   -0.205205
593                                   -0.224766

     Industrial Category - R to U - HHI - Females  \
1                                        0.339675
2                                       13.281959
3                                       10.861116
4                                        1.894225
5                                       -0.194431
..                                            ...
589                                     -0.220485
590                                     -0.098900
591                                     -0.161863
592                                     -0.205286
593                                     -0.220485

     Industrial Category - R to U - Non HHI - Persons  \
1                                            4.302930
2                                           15.959420
3                                            5.992538
4                                            1.427800
5                                           -0.163387
..                                                ...
589                                         -0.178185
590                                         -0.073187
591                                         -0.166205
592                                         -0.212715
593                                         -0.231741

     Industrial Category - R to U - Non HHI - Males  \
1                                          4.713593
2                                         16.356667
3                                          4.663540
4                                          1.487973
5                                         -0.149611
..                                              ...
589                                       -0.175395
590                                       -0.103097
591                                       -0.175901
592                                       -0.210281
593                                       -0.227976

     Industrial Category - R to U - Non HHI - Females
1                                            3.913086
2                                           15.482237
3                                            7.085196
4                                            1.363915
5                                           -0.173854
..                                                ...
589                                         -0.179074
590                                         -0.046830
591                                         -0.156453
592                                         -0.213005
593                                         -0.233015

[495 rows x 46 columns]

<ipython-input-15-909bf2092757>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[features] = scaler.fit_transform(df[features])

In [16]:
# Unique Values in Categorical Columns
for column in df.select_dtypes(include=['object']):
 print(f"Unique values in {column}: {df[column].nunique()}")

Unique values in Table Code: 1
Unique values in State Code: 1
Unique values in District Code: 33
Unique values in Area Name: 33
Unique values in Total/ Rural/ Urban: 3
Unique values in Age group: 5

In [17]:
correlation_matrix = df.corr()
print(correlation_matrix)

                                                    Worked for 3 months or more but less than 6 months -  Persons  \
Worked for 3 months or more but less than 6 mon...                                           1.000000
Worked for 3 months or more but less than 6 mon...                                           0.998419
Worked for 3 months or more but less than 6 mon...                                           0.998656
Worked for less than 3 months - Persons                                                      0.997708
Worked for less than 3 months - Males                                                        0.990325
...                                                                                               ...
Industrial Category - R to U - HHI - Males                                                   0.966952
Industrial Category - R to U - HHI - Females                                                 0.976299
Industrial Category - R to U - Non HHI - Persons                                             0.798627
Industrial Category - R to U - Non HHI - Males                                               0.778870
Industrial Category - R to U - Non HHI - Females                                             0.808852

                                                    Worked for 3 months or more but less than 6 months - Males  \
Worked for 3 months or more but less than 6 mon...                                           0.998419
Worked for 3 months or more but less than 6 mon...                                           1.000000
Worked for 3 months or more but less than 6 mon...                                           0.994164
Worked for less than 3 months - Persons                                                      0.997733
Worked for less than 3 months - Males                                                        0.995767
...                                                                                               ...
Industrial Category - R to U - HHI - Males                                                   0.977458
Industrial Category - R to U - HHI - Females                                                 0.983575
Industrial Category - R to U - Non HHI - Persons                                             0.824212
Industrial Category - R to U - Non HHI - Males                                               0.805508
Industrial Category - R to U - Non HHI - Females                                             0.833313

                                                    Worked for 3 months or more but less than 6 months - Females  \
Worked for 3 months or more but less than 6 mon...                                           0.998656
Worked for 3 months or more but less than 6 mon...                                           0.994164
Worked for 3 months or more but less than 6 mon...                                           1.000000
Worked for less than 3 months - Persons                                                      0.994888
Worked for less than 3 months - Males                                                        0.982533
...                                                                                               ...
Industrial Category - R to U - HHI - Males                                                   0.954555
Industrial Category - R to U - HHI - Females                                                 0.966854
Industrial Category - R to U - Non HHI - Persons                                             0.772797
Industrial Category - R to U - Non HHI - Males                                               0.752124
Industrial Category - R to U - Non HHI - Females                                             0.784029

                                                    Worked for less than 3 months - Persons  \
Worked for 3 months or more but less than 6 mon...                                 0.997708
Worked for 3 months or more but less than 6 mon...                                 0.997733
Worked for 3 months or more but less than 6 mon...                                 0.994888
Worked for less than 3 months - Persons                                            1.000000
Worked for less than 3 months - Males                                              0.995155
...                                                                                     ...
Industrial Category - R to U - HHI - Males                                         0.967547
Industrial Category - R to U - HHI - Females                                       0.976663
Industrial Category - R to U - Non HHI - Persons                                   0.796327
Industrial Category - R to U - Non HHI - Males                                     0.774370
Industrial Category - R to U - Non HHI - Females                                   0.808463

                                                    Worked for less than 3 months - Males  \
Worked for 3 months or more but less than 6 mon...                               0.990325
Worked for 3 months or more but less than 6 mon...                               0.995767
Worked for 3 months or more but less than 6 mon...                               0.982533
Worked for less than 3 months - Persons                                          0.995155
Worked for less than 3 months - Males                                            1.000000
...                                                                                   ...
Industrial Category - R to U - HHI - Males                                       0.981469
Industrial Category - R to U - HHI - Females                                     0.986609
Industrial Category - R to U - Non HHI - Persons                                 0.840652
Industrial Category - R to U - Non HHI - Males                                   0.820139
Industrial Category - R to U - Non HHI - Females                                 0.851170

                                                    Worked for less than 3 months - Females  \
Worked for 3 months or more but less than 6 mon...                                 0.996811
Worked for 3 months or more but less than 6 mon...                                 0.992672
Worked for 3 months or more but less than 6 mon...                                 0.997835
Worked for less than 3 months - Persons                                            0.997137
Worked for less than 3 months - Males                                              0.984872
...                                                                                     ...
Industrial Category - R to U - HHI - Males                                         0.950465
Industrial Category - R to U - HHI - Females                                       0.962580
Industrial Category - R to U - Non HHI - Persons                                   0.756992
Industrial Category - R to U - Non HHI - Males                                     0.734069
Industrial Category - R to U - Non HHI - Females                                   0.770293

                                                    Industrial Category - A - Cultivators - Persons  \
Worked for 3 months or more but less than 6 mon...                                         0.985110
Worked for 3 months or more but less than 6 mon...                                         0.978326
Worked for 3 months or more but less than 6 mon...                                         0.988607
Worked for less than 3 months - Persons                                                    0.982149
Worked for less than 3 months - Males                                                      0.964971
...                                                                                             ...
Industrial Category - R to U - HHI - Males                                                 0.932559
Industrial Category - R to U - HHI - Females                                               0.937179
Industrial Category - R to U - Non HHI - Persons                                           0.719486
Industrial Category - R to U - Non HHI - Males                                             0.704339
Industrial Category - R to U - Non HHI - Females                                           0.726416

                                                    Industrial Category - A - Cultivators - Males  \
Worked for 3 months or more but less than 6 mon...                                       0.980083
Worked for 3 months or more but less than 6 mon...                                       0.973439
Worked for 3 months or more but less than 6 mon...                                       0.983464
Worked for less than 3 months - Persons                                                  0.979500
Worked for less than 3 months - Males                                                    0.962078
...                                                                                           ...
Industrial Category - R to U - HHI - Males                                               0.924066
Industrial Category - R to U - HHI - Females                                             0.927626
Industrial Category - R to U - Non HHI - Persons                                         0.703313
Industrial Category - R to U - Non HHI - Males                                           0.687024
Industrial Category - R to U - Non HHI - Females                                         0.711362

                                                    Industrial Category - A - Cultivators - Females  \
Worked for 3 months or more but less than 6 mon...                                         0.987328
Worked for 3 months or more but less than 6 mon...                                         0.980408
Worked for 3 months or more but less than 6 mon...                                         0.990942
Worked for less than 3 months - Persons                                                    0.981684
Worked for less than 3 months - Males                                                      0.964843
...                                                                                             ...
Industrial Category - R to U - HHI - Males                                                 0.938885
Industrial Category - R to U - HHI - Females                                               0.944689
Industrial Category - R to U - Non HHI - Persons                                           0.735260
Industrial Category - R to U - Non HHI - Males                                             0.721458
Industrial Category - R to U - Non HHI - Females                                           0.740898

                                                    Industrial Category - A - Agricultural labourers - Persons  \
Worked for 3 months or more but less than 6 mon...                                           0.988141
Worked for 3 months or more but less than 6 mon...                                           0.979984
Worked for 3 months or more but less than 6 mon...                                           0.992895
Worked for less than 3 months - Persons                                                      0.985360
Worked for less than 3 months - Males                                                        0.965416
...                                                                                               ...
Industrial Category - R to U - HHI - Males                                                   0.927649
Industrial Category - R to U - HHI - Females                                                 0.935702
Industrial Category - R to U - Non HHI - Persons                                             0.702670
Industrial Category - R to U - Non HHI - Males                                               0.683354
Industrial Category - R to U - Non HHI - Females                                             0.713330

                                                    ...  \
Worked for 3 months or more but less than 6 mon...  ...
Worked for 3 months or more but less than 6 mon...  ...
Worked for 3 months or more but less than 6 mon...  ...
Worked for less than 3 months - Persons             ...
Worked for less than 3 months - Males               ...
...                                                 ...
Industrial Category - R to U - HHI - Males          ...
Industrial Category - R to U - HHI - Females        ...
Industrial Category - R to U - Non HHI - Persons    ...
Industrial Category - R to U - Non HHI - Males      ...
Industrial Category - R to U - Non HHI - Females    ...

                                                    Industrial Category - N to O - Females  \
Worked for 3 months or more but less than 6 mon...                                0.880830
Worked for 3 months or more but less than 6 mon...                                0.893419
Worked for 3 months or more but less than 6 mon...                                0.866753
Worked for less than 3 months - Persons                                           0.887681
Worked for less than 3 months - Males                                             0.909880
...                                                                                    ...
Industrial Category - R to U - HHI - Males                                        0.893279
Industrial Category - R to U - HHI - Females                                      0.936311
Industrial Category - R to U - Non HHI - Persons                                  0.889497
Industrial Category - R to U - Non HHI - Males                                    0.845383
Industrial Category - R to U - Non HHI - Females                                  0.919908

                                                    Industrial Category - P to Q - Persons  \
Worked for 3 months or more but less than 6 mon...                                0.861297
Worked for 3 months or more but less than 6 mon...                                0.882434
Worked for 3 months or more but less than 6 mon...                                0.839393
Worked for less than 3 months - Persons                                           0.858635
Worked for less than 3 months - Males                                             0.894304
...                                                                                    ...
Industrial Category - R to U - HHI - Males                                        0.935317
Industrial Category - R to U - HHI - Females                                      0.935389
Industrial Category - R to U - Non HHI - Persons                                  0.952596
Industrial Category - R to U - Non HHI - Males                                    0.946419
Industrial Category - R to U - Non HHI - Females                                  0.949831

                                                    Industrial Category - P to Q - Males  \
Worked for 3 months or more but less than 6 mon...                              0.865045
Worked for 3 months or more but less than 6 mon...                              0.885876
Worked for 3 months or more but less than 6 mon...                              0.843413
Worked for less than 3 months - Persons                                         0.861828
Worked for less than 3 months - Males                                           0.896812
...                                                                                  ...
Industrial Category - R to U - HHI - Males                                      0.941673
Industrial Category - R to U - HHI - Females                                    0.937375
Industrial Category - R to U - Non HHI - Persons                                0.950786
Industrial Category - R to U - Non HHI - Males                                  0.946914
Industrial Category - R to U - Non HHI - Females                                0.946053

                                                    Industrial Category - P to Q - Females  \
Worked for 3 months or more but less than 6 mon...                                0.857844
Worked for 3 months or more but less than 6 mon...                                0.879121
Worked for 3 months or more but less than 6 mon...                                0.835821
Worked for less than 3 months - Persons                                           0.855500
Worked for less than 3 months - Males                                             0.891502
...                                                                                    ...
Industrial Category - R to U - HHI - Males                                        0.930274
Industrial Category - R to U - HHI - Females                                      0.932819
Industrial Category - R to U - Non HHI - Persons                                  0.952147
Industrial Category - R to U - Non HHI - Males                                    0.944675
Industrial Category - R to U - Non HHI - Females                                  0.950500

                                                    Industrial Category - R to U - HHI - Persons  \
Worked for 3 months or more but less than 6 mon...                                      0.976593
Worked for 3 months or more but less than 6 mon...                                      0.984698
Worked for 3 months or more but less than 6 mon...                                      0.966384
Worked for less than 3 months - Persons                                                 0.977016
Worked for less than 3 months - Males                                                   0.987985
...                                                                                          ...
Industrial Category - R to U - HHI - Males                                              0.991907
Industrial Category - R to U - HHI - Females                                            0.999106
Industrial Category - R to U - Non HHI - Persons                                        0.889179
Industrial Category - R to U - Non HHI - Males                                          0.871444
Industrial Category - R to U - Non HHI - Females                                        0.896896

                                                    Industrial Category - R to U - HHI - Males  \
Worked for 3 months or more but less than 6 mon...                                    0.966952
Worked for 3 months or more but less than 6 mon...                                    0.977458
Worked for 3 months or more but less than 6 mon...                                    0.954555
Worked for less than 3 months - Persons                                               0.967547
Worked for less than 3 months - Males                                                 0.981469
...                                                                                        ...
Industrial Category - R to U - HHI - Males                                            1.000000
Industrial Category - R to U - HHI - Females                                          0.985653
Industrial Category - R to U - Non HHI - Persons                                      0.887964
Industrial Category - R to U - Non HHI - Males                                        0.878717
Industrial Category - R to U - Non HHI - Females                                      0.888387

                                                    Industrial Category - R to U - HHI - Females  \
Worked for 3 months or more but less than 6 mon...                                      0.976299
Worked for 3 months or more but less than 6 mon...                                      0.983575
Worked for 3 months or more but less than 6 mon...                                      0.966854
Worked for less than 3 months - Persons                                                 0.976663
Worked for less than 3 months - Males                                                   0.986609
...                                                                                          ...
Industrial Category - R to U - HHI - Males                                              0.985653

<ipython-input-17-becb50483c66>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

In [20]:
#One-Hot Encoding (for nominal variables) sample :
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize = ['Worked for less than 3 months - Persons',
 'Worked for less than 3 months - Males',
'Worked for less than 3 months - Females' ]
scaler = MinMaxScaler()
df[columns_to_normalize] =scaler.fit_transform(df[columns_to_normalize])
# Before dropping rows
print(f"Number of rows before dropping: {df.shape[0]}")
# Drop rows with missing values
df.dropna(inplace=True)
# After dropping rows
print(f"Number of rows after dropping: {df.shape[0]}")

Number of rows before dropping: 495
Number of rows after dropping: 495

<ipython-input-20-4d42c883b5fe>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columns_to_normalize] =scaler.fit_transform(df[columns_to_normalize])
<ipython-input-20-4d42c883b5fe>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)